@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
    --green: rgb(0, 128, 0);
    --white: rgb(255, 255, 255);
    --gray: rgb(43, 43, 43);
    --blue: rgb(0, 0, 255);
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none; border: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--gray);
}

#app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#app span{
    color: var(--white);
}

#app form{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0.5rem;
    overflow: hidden;
}

#app form input{
    padding: 0.5rem;
    font-size: 1.9rem;
}

#app form button{
    background-color: var(--green);
    font-weight: bolder;
    padding: 0.2rem 0.5rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.2rem;
}

#app h1{
    font-size: 3rem;
    color: var(--white);
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
}

#app .copy{
    background-color: var(--blue);
    font-weight: bolder;
    padding: 0.2rem 0.5rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}
